# 忽略 API 配置文件
*.json
__pycache__/
.vscode/
.opencode/
archive/
unused_nets/
wandb/
infer_results/
pretrained_weights/
scripts/
MNIST/
swanlog/
weights/flood_wts.py
!weights/.gitkeep
idea/nanoGPT/
exp_log/

HuggingfaceModel/
new_weights/
notebooks/
*.zip
*.pth
*.sh
*.md
*.png
*.txt
*.csv

!README.md
!baseline/README.md
!train/README.md
!utils/README.md


# 忽略数据集文件夹
data/BSD500/
data/Dataset_BUSI_with_GT/
data/FloodSeg/
data/Magnetic-Tile/
data/NEU_Seg-main/
data/Retina_Blood_Vessel/
data/severstal_steel_defect_detection/
data/sd900/

segment-anything/*

notebooklm/

